body {
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

nav, footer {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

nav, header, main, footer {
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 10px;
    flex-grow: 1;
}

/* Mosaico Latest News*/

main #mosaico-latest-news {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
}

main #mosaico-latest-news div {
    background-color: darkseagreen;
    border-radius: 0.3em;
    flex-grow: 1;
    width: 200px;
}

/* Mosaico Category, Main and latest rows*/

main #mosaico-category-latest {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
}

#mosaico-category-latest-column-one {
    background-color: darkseagreen;
    border-radius: 0.3em;
}

#mosaico-category-latest-column-one, #mosaico-category-latest-column-two {
    flex-grow: 1;
    width: 48%;
}

#mosaico-category-latest-column-one div, #mosaico-category-latest-column-two div {
    background-color: darkseagreen;
    border-radius: 0.3em;
}

/* Mosaico Opinions */

main #mosaico-articles-latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.9em;
}

main #mosaico-articles-latest div {
    background-color: lightblue;
    border-radius: 0.3em;
    width: 200px;
}