body {
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header h1 {
    font-size: 3.6em;
    font-weight: 700;
    margin: 0.6em auto 1.2em;
}

header h2 {
    font-size: 2.7em;
    font-weight: 700;
    color: white;
    background-image: url('img/headline-front-page.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.18em;
    height: 6em;
    padding: 3em 3em 0;
}

.highlight {
    background: rgb(0, 0, 0, .50);
    color: white;
}

main h2 {
    padding: 1.2em 0 0.6em 0;
}

main h3 {
    font-size: 1.2em;
}

p, ul {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
}

nav, footer {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    border-bottom: 1px solid lightslategrey;
}

nav, header, main, footer {
    padding: 1em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 10px;
    flex-grow: 1;
}

/* Mosaico Latest News*/

main #mosaico-latest-news {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
    justify-content: space-between;
}

main #mosaico-latest-news div {
    background-color: darkseagreen;
    border-radius: 0.3em;
    width: 220px;
}

/* Mosaico Category */

main .mosaico-category-latest {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
}

.mosaico-category-latest-column-one, .mosaico-category-latest-column-two {
    flex-grow: 1;
    width: 48%;
}

.mosaico-category-latest-column-one, .mosaico-category-latest-column-two div {
    background-color: darkseagreen;
    border-radius: 0.3em;
}

.mosaico-category-latest-column-two div {
    margin-bottom: 0.9em;
}

/* Mosaico Articles */

main #mosaico-articles-latest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.9em;
}

main #mosaico-articles-latest div {
    background-color: lightblue;
    border-radius: 0.3em;
    width: 220px;
}

/* Mosaico Gallery */

main #mosaico-gallery-latest {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
}

#mosaico-gallery-latest-column-one, #mosaico-gallery-latest-column-three {
    background-color: lightblue;
    border-radius: 0.3em;
    flex-grow: 1;
    width: 24%;
}

#mosaico-gallery-latest-column-two {
    background-color: lightblue;
    border-radius: 0.3em;
    flex-grow: 2;
    width: 48%;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
    justify-content: space-between;
}

footer ul {
    flex-grow: 1;
    width: 200px;
}