* {
	font-family: font-family: Georgia, 'Times New Roman', Times, serif;
}

/** Secciones principales **/

header {
	max-width: 1000px;
	margin: 0 auto;

}

main {
	max-width: 1000px;
	margin: 0 auto;
}

section {
	width: 42%;
	display: block;
	float: left;
	padding: 4%;
	background-color: Gainsboro;
}

section.cv {
	background-color: Darkgrey;
}

footer {
	max-width: 1000px;
	margin: 0 auto;
	clear: left;
}


/** Estilos del Header **/

header h1 {
	padding: 4% 4% 0;
	color: white;
	background-color: cornflowerblue;
}

header h1::first-letter {
	color: black;
}