* {
	font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}

/** Secciones principales **/

header {
	max-width: 1000px;
	margin: 0 auto;

}

main {
	max-width: 1000px;
	margin: 0 auto;
}

section {
	width: 41.5%;
	display: block;
	float: left;
	padding: 4%;
	border-right: black solid 2px;
}

section.cv {
	border: black dotted 2px;
}

footer {
	max-width: 1000px;
	margin: 0 auto;
	clear: left;
}


/** Tipográficos generales **/

h1 {
	padding: 4% 4% 0;
	font-size: 2.4em;
	letter-spacing: -0.012em;
	text-align: center;
}

h1::first-letter {
	color: crimson;
}

h2 {
	text-transform: uppercase;
	font-size: 1.2em;
}

h3 {
	color: dimgrey;
	font-size: 1.05em;
	font-weight: 400;
	font-style: italic;
}

h4 {
	font-size: 1.2em;
	color: crimson;
	text-transform: uppercase;
	border-bottom: crimson solid 1px;
}

p {
	font-size: 0.9em;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}