@charset "utf-8";

* {
	font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}

@font-face {
	font-family: 'dratl-github';
	src: url('./font/dratl-github.eot?17820220');
	src: url('./font/dratl-github.eot?17820220#iefix') format('embedded-opentype'),
		 url('./font/dratl-github.woff?17820220') format('woff'),
		 url('./font/dratl-github.ttf?17820220') format('truetype'),
		 url('./font/dratl-github.svg?17820220#dratl-github') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  .demo-icon {
	font-family: "dratl-github";
	font-style: normal;
	font-weight: normal;
	speak: never;
	color: #ed143d;
   
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
   
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
   
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
   
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
   
	/* You can be more comfortable with increased icons size */
	/* font-size: 120%; */
   
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

/** Elementos generales **/

body {
	margin: 0;
	padding: 0;
	background-image: url(./img/fondo-blanco-natural1.png);
	background-repeat: repeat;
	background-attachment: fixed;
}
h1 {
	padding: 6% 4% 4%;
	font-size: 5.4em;
	letter-spacing: -0.012em;
	text-align: center;
	font-weight: 400;
	transition: color 450ms ease-out 300ms;
}

h1::first-letter {
	color: #ed143d;
	font-weight: 400;
}

h2 {
	text-transform: none;
	font-size: 1.5em;
	margin: 0 1em;
	font-weight: 300;
}

section h2 {
	margin: 0;
}

h3 {
	color: dimgray;
	font-size: 1.05em;
	font-weight: 300;
	font-style: italic;
}

h4 {
	font-size: 1.5em;
	color: #ed143d;
	text-transform: none;
	border-bottom: #ed143d solid 1px;
	margin: 0;
	font-weight: 300;
}

p, ul {
	font-size: 0.9em;
	font-weight: 300;
}

a {
	color: dimgray;
	text-decoration: none;
	border-bottom: white dotted 1px;
	transition: border-bottom 450ms ease-out 100ms;
}

a:hover {
	color: gray;
	border-bottom: dotted 1px;
}

/* Horizontal Rule */

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double dimgray;
    color: dimgray;
    text-align: center;
    margin-bottom: 3.8em;
}
hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.25em;
    background: white;
}

/** Sistema de navegación **/

nav ul {
	margin: 0 0 0.6em;
	font-size: 0.9em;
	padding: 0 1em;
    list-style-type: none;
}

nav ul li {
	display: inline;
}

nav ul li.se-encuentra {
	color: #ed143d;
}

nav ul li.titulo-seccion {
	font-size: 1.5em;
}

nav ul li#hoy:last-child {
	float: right;
}

/** Secciones principales **/

header {
	max-width: 1000px;
	margin: 0 auto;

}

main {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

main section {
	width: 45%;
	background-color: rgba(211, 211, 211, 0.45);
	margin-bottom: 3.8em;
	padding: 2%;
	border-radius: 0.3em;
}

/** Laboratorio **/

section.laboratorio ul {
	padding: 0;
	margin-top: 1.8em;
}

section.laboratorio ul li {
	list-style-type: none;
	line-height: 1.5em;
	width: 100%;
	margin-bottom: 0.6em;
}

/** Portafolio **/

aside {
	max-width: 1000px;
	margin: 0 auto;
	
}

aside div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

aside div figure {
	width: 30%;
	border-bottom: dimgray dotted 2px;
	margin: 0 0 3.8em;
}

aside div figure img {
	width: 100%;
	border-radius: 0.3em;
	opacity: 1;
	transition: opacity 300ms ease-in 100ms;
}

aside div figure img:hover {
	opacity: 0.5;
}

aside div figure p {
	font-size: 0.75em;
	margin: 0.6em;
}

aside div img.big-thumb {
	width: 97%;
	margin-bottom: 4.5em;
}

aside div img.twocols {
	max-width: 48%;
	margin-bottom: 4.5em;
}

aside ul {
	margin: 0 0 2.1em;
	font-size: 0.9em;
	padding: 0 1em;
    list-style-type: none;
}

aside ul li {
	display: inline;
}

aside ul li#regresa:last-child {
	float: right;
}

/* Navegador portafolio */

aside .portfolio-nav {
	display: flex;
	justify-content: space-between;
}

aside .portfolio-nav select {
	appearance: none;
	background-color: whitesmoke;
	border: 1px solid dimgray;
	border-radius: 0.6em;
	color: dimgray;
	cursor: pointer;
	margin: 0 1em;
	padding: 0.6em;
}

aside .item1, aside .item2, aside .item3, aside .item4, aside .item5, aside .item6 {
	display: block;
}

/** Pie de página**/

footer {
	margin: 1.8em 0 0;
	padding: 0;
	padding-bottom: 1em;
	background-color: #ed143d;
	text-align: center;
}

footer .demo-icon {
	color: gainsboro;
}

footer ul li {
	list-style-type: none;
	line-height: 1.5em;
	margin-bottom: 0.6em;
}

footer ul {
	padding: 0;
}

footer ul li a {
	color: gainsboro;
	border-bottom: dimgray solid 1px;
}

footer ul li a:hover {
	color: white;
}

/* Forma de contacto */

#forma {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}
#forma h5 {
	color: white;
	font-size: 1.5em;
	margin: 0;
	padding: 1.5em 0 0.6em;
}

#forma input {
		border-radius: 6px;
		border: solid 1px gray;
		width: 24em;
		padding: 0.6em;
		margin: 0.9em 0 1.5em;
}

#forma button {
	color: white;
	background-color: dimgray;
	border-radius: 6px;
	padding: 0.6em;
	width: 25em;
}

/** Otras resoluciones de pantalla **/

@media only screen and (max-width: 620px) {
	main section {
		width: 90%;
	}
	nav ul li#hoy:last-child {
		display: none;
	}

	aside div figure {
		width: 48%;
	}
	
}