
body, .montserrat-parrafos, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  button {
    cursor: pointer;
  }

  main {
    width: 100%;
  }

  .pixel-font {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
/* About me */

  main article.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #121212;
    margin-top: 190px;
  }

  main article.aboutme section {
    text-align: center;
    color: white;
    max-width: 600px;
    padding: 60px 12px;
  }

  main article.aboutme section h3 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 12px;
  }

  main article.aboutme section h4 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  main article.aboutme section p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  main article.aboutme section ul li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
  }

  main article.aboutme section p.iconos-frontend img {
    width: 36px;
    margin: 12px;
  }

  main article.aboutme section p.iconos-experiencia img {
    width: 72px;
    margin: 12px;
  }

  main article.aboutme section p.iconos-experiencia img:hover, main section p.iconos-frontend img:hover {
    animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @media only screen and (max-width: 720px) {
    main article.aboutme {
      flex-direction: column;
    }
    main article.aboutme section {
      width: 100%;
      margin: 0 auto;
    }
  }

  /* Illustration */

  main article.illustration {
    display: flex;
    flex-direction: row;
    background-color: crimson;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main article.illustration section {
    min-width: 33.333333%;
    min-height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:680px 480px;
    background-position:center;
    transition:all 0.5s ;
  }
  main article.illustration section:hover {
    background-size:748px 528px;
    background-position:center;
  }
  main article.illustration section:nth-child(1) {
    background-image: url("img/illustration/yum02.png");
    background-color: #8cc8ff;
  }
  main article.illustration section:nth-child(2) {
    background-image: url("img/illustration/yum03.png");
    background-color: #cca900;
  }
  main article.illustration section:nth-child(3) {
    background-image: url("img/illustration/yum01.png");
    background-color: #00b4ff;
  }
  main article.illustration section:nth-child(4) {
    background-image: url("img/illustration/pasajero74.png");
    background-color: white;
  }
  main article.illustration section:nth-child(5) {
    background-image: url("img/illustration/volcanico.png");
    background-color: black;
  }
  main article.illustration section:nth-child(6) {
    background-image: url("img/illustration/corazoncito.png");
    background-color: white;
  }
  main article.illustration section:nth-child(7) {
    background-image: url("img/illustration/maya01.png");
    background-color: black;
  }
  main article.illustration section:nth-child(8) {
    background-image: url("img/illustration/mongas.png");
    background-color: #ffff00;
  }
  main article.illustration section:nth-child(9) {
    background-image: url("img/illustration/maya02.png");
    background-color: #ebeebc;
  }
  @media only screen and (max-width: 920px) {
    main article.illustration section {
      min-width: 50%;
    }
  }
  @media only screen and (max-width: 640px) {
    main article.illustration {
      flex-direction: column;
    }
    main article.illustration section {
      width: 100%;
      height: 360px;
    }
  }

  /* Chuck Norris */

  main article.chuck-norris {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF840B;
  }

  main article.chuck-norris section {
    text-align: center;
    color: white;
    width: 48%;
    max-width: 620px;
    padding: 60px 12px;
  }

  main article.chuck-norris section h3 {
    font-size: 48px;
    font-weight: 700;
  }

  main article.chuck-norris section p {
    font-size: 20px;
    font-weight: 300;
    margin: 24px;
    padding: 24px;
    background-color: aliceblue;
    color: #121212;
    border-radius: 8px;
  }

  main article.chuck-norris section p.credit {
    font-size: 16px;;
    background-color: transparent;
    padding: 12px;
    margin: 12px;
  }

  main article.chuck-norris section p.credit a {
    color: #121212;
    font-weight: 600;
  }

  main article.chuck-norris section p.credit a:hover {
    color: #333333;
  }

  main article.chuck-norris section button {
    background-color: #FD5001;
    color: white;
    font-size: 16px;
    padding: 12px;
    margin: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 0 6px #4d4d4d;
  }

main article.chuck-norris section button:hover {
  background-color: #3e8e41;
}

  main article.chuck-norris section button:active {
    background-color: #04AA6D;
    box-shadow: 0 3px #272727;
    transform: translateY(4px);
  }

  @media only screen and (max-width: 820px) {
    main article.chuck-norris {
      flex-direction: column;
    }
    main article.chuck-norris section {
      width: 100%;
      margin: 0 auto;
    }
  }

  /* Flexbox CheatSheet */

  main article.cheat-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #2274a5;
    align-items: center;
  }

  main article.cheat-flexbox section {
    text-align: center;
    color: white;
    width: 48%;
    height: 120px;
    max-width: 600px;
    padding: 60px 12px;
  }

  main article.cheat-flexbox section.myflexbox {
    text-align: left;
  }

  main article.cheat-flexbox section.nevergo {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  main article.cheat-flexbox section.magic {
    display: flex;
    flex-direction: column-reverse;
  }

  main article.cheat-flexbox section.myflexbox h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 74px;
    color: #ed9913;
    background-color: white;
  }

  main article.cheat-flexbox section.cheatsheet h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 74px;
    color: #f3c522;
    background-color: white;
  }

  main article.cheat-flexbox section.nevergo span {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #131B23;
    background-color: white;
    margin: 12px;
    width: 20%;
  }

  .cheat-flex-button {
    font-size: 24px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #131B23;
    cursor: pointer;
    border: 3px solid;
    padding: 16px 16px;
    margin: 12px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .cheat-flex-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  @media only screen and (max-width: 1200px) {
    main article.cheat-flexbox {
      background-color: #2274a5;
    }
    main article.cheat-flexbox section.myflexbox {
      padding-bottom: 29px;
    }
    main article.cheat-flexbox section.cheatsheet {
      background-color: #f3c522;
    }
    main article.cheat-flexbox section.nevergo {
      margin-top: 12px;
      padding-bottom: 22px;
    }
    main article.cheat-flexbox section.magic {
      padding-top: 0;
    }
  }

  @media only screen and (max-width: 680px) {
    main article.cheat-flexbox section h3 {
      font-size: 56px;
    }
    .cheat-flex-button {
      padding: 12px 12px;
      margin: 12px;
    }
  }

  /* Spotify */

  main article.spotify {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #1DB954;
    align-items: center;
  }

  main article.spotify section {
    text-align: center;
    color: white;
    width: 98%;
    max-width: 1200px;
    padding: 60px 12px;
  }

  main article.spotify section h4  {
    color: #121212;
    font-size: 48px;
    font-weight: 700;
    padding-top: 53px;
    padding-bottom: 20px;
  }

  main article.spotify section span.highlight {
    color: white;
    text-shadow: 
    2px 2px 1px #121212, 
    2px -1px 1px #121212, 
    -1px 1px 1px #121212, 
    -1px -1px 1px #121212
  }

  main article.spotify section span.highlight:hover {
    color: #121212;
    text-shadow:none;
  }

  main article.spotify section span.highlight.c1:hover {
    background-color: #DDFFF7;
  }
  main article.spotify section span.highlight.c2:hover {
    background-color: #FFA69E;
  }
  main article.spotify section span.highlight.c3:hover {
    background-color: #D8DDEF;
  }

  main article.spotify section button {
    background-color: #1f1f1f;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    margin: 10px 10px 66px 10px;
    border-radius: 32px;
    border: none;
    outline: none;
    box-shadow: 0 6px #4d4d4d;
  }

  main article.spotify section button:hover {
    color: white;
    background-color: #444444;
  }

  main article.spotify section button:active {
    background-color: #3e8e41;
    color: white;
    box-shadow: 0 3px #4d4d4d;
    transform: translateY(4px);
  }

  /* Footer */
  
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #121212;
  }

  footer section {
    text-align: left;
    color: white;
    width: 48%;
    max-width: 600px;
    padding: 60px 12px;
  }

  footer section h3 {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 33px;
    color: white;
    padding: 12px;
    margin: 12px 0;
  }

  footer section p, footer section form label {
    font-size: 16px;
    font-weight: 300;
    margin: 12px 0;
    padding: 12px;
  }

  footer section.social p:nth-of-type(1), footer section.social p:nth-of-type(2) {
    padding-bottom: 0;
  }

  footer form label {
    width: 120px;
    display: inline-block;
  }

  footer form input {
    width: 60%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
  }

  footer form button {
    background-color: crimson;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    margin: 12px 12px 12px 147px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 0 6px #4d4d4d;
    width: 40%;
  }

  footer form button:hover {
    color: white;
    background-color: #1db954;
  }

  footer form button:active {
    background-color: crimson;
    color: white;
    box-shadow: 0 3px #4d4d4d;
    transform: translateY(4px);
  }

  footer a {
    color: white;
    text-decoration: underline;
    font-weight: 400;
  }

  footer section.social a:hover {
    color: crimson;
  }

  footer svg {
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 12px;
  }

  footer section.social p.social-icons {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  footer section.social p.social-icons a {
    display: flex; 
    align-items: center; 
  }

  /* Animations */

  @keyframes wiggle {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

