
body, .montserrat-parrafos {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    margin-top: 190px;
  }

  main section {
    text-align: center;
    color: white;
    max-width: 600px;
    padding: 60px 12px;
  }

  main section h3 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 12px;
  }

  main section h4 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  main section p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  main section ul li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
  }

  main section p.iconos-frontend img {
    width: 36px;
    margin: 12px;
  }

  main section p.iconos-experiencia img {
    width: 72px;
    margin: 12px;
  }

  main section p.iconos-experiencia img:hover, main section p.iconos-frontend img:hover {
    animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  /* Animations */

  @keyframes wiggle {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}