body
  background transparent url(../../assets/images/head.png) no-repeat top center
  background-color #3d3d3d
  font-family 'Open Sans', sans-serif

*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  border none
  color white
  padding 0
  margin 0
  font-size 16px
  font-weight 300

.content
  margin 0 auto
  padding 20px 0 80px
  width 940px

.data
  border-bottom 1px dashed white
  margin-top 253px
  padding-bottom 53px

label
  display inline-block
  text-align right
  margin-right 10px
  width 154px
  &.l-solicitante
    margin-left 18px
  &.l-telefono
    margin-left 18px

input
  background-color #d4d4d4
  border-radius 4px
  color black
  height 32px
  padding-left 12px
  width 289px
  &.estudio
    margin-bottom 40px
    margin-top 1px
    width 479px

input.empresa, input.solicitante
  margin-bottom 40px

.columna-uno
  float left
  width 660px

.columna-dos
  float left
  width 280px

h2
  font-size 30px
  font-weight 300
  padding-top 48px
  &.cobertura
    padding-top 42px
ul.elegir
  margin-top 20px
  li
    display inline-block
    width 240px
    &:first-child
      margin-right 44px
select
  color black
  height 32px
  &.estimulos
    margin-right 44px
  &.consumidores
    display inline-block
    height 40px
    margin-top 21px

select.estimulos, select.entrevistas
  display inline-block
  height 40px
  margin-top 13px
  width 240px

p
  &.nota-maximo
    padding-top 26px

.listas
  label
    text-align left
  ul
    float left
    list-style-type none
    margin-top 36px
    width 180px
    li
      span
        &.texto-listas
          vertical-align 7px
      input
        display inline-block
        height 30px
        margin-right 6px
        width 20px
      &:first-child
        font-weight 600
        margin-bottom 12px

ul
  &.resultados
    list-style-type none
    padding-top 116px
    li
      &.titulo
        font-weight 400
      &.numero
        color #e42645
        font-size 46px
        font-weight 600
        padding-bottom 32px

.botones
  div
    &.boton-enviar
      text-align center
      cursor default
      background-color #2ab247
      border none
      margin-top 42px
      padding 22px 0
      width 220px
